@font-face {
  font-family: 'Fira Code';
  src: url('./fonts/firacode/woff2/FiraCode-Light.woff2') format('woff2'),
    url("./fonts/firacode/woff/FiraCode-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('./fonts/firacode/woff2/FiraCode-Regular.woff2') format('woff2'),
    url("./fonts/firacode/woff/FiraCode-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('./fonts/firacode/woff2/FiraCode-Medium.woff2') format('woff2'),
    url("./fonts/firacode/woff/FiraCode-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

button {
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 12px;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  font-size: 0;
  transition: opacity 0.15s linear;
  opacity: 0.6;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

button:hover {
  opacity: 1;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Fira Code', source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
  font-weight: 400;
  color: #fff;
  background-color: #111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
